* {
  margin: 0;
}

 .start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.description {
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.8);
}

.description h1 {
  font-size: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.description p {
  font-size: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 2px;
  padding: 10px;
}

.description a {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 15px;
  background-color: rgb(84, 84, 87);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
}

.description a:hover {
  background-color: rgb(116, 116, 120);
}
/* End of start game styling */

#main-html, #main-body {
  height: 100%;
}

#game-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background-color: black;
}

#main-header {
  border-bottom: 2px solid rgb(58, 58, 60);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 60px;
  top: 0;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  font-family: 'Open Sans';
}

#game {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid rgb(58, 58, 60);
  min-width: 60px;
  min-height: 60px;
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#row-one, #row-two, #row-three {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;

}

button {
  background-color: rgb(129, 131, 132);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  margin: 2px;
  height: 50px;
  width: 45px;
  text-transform: capitalize;
  font-family: 'Open Sans';
  cursor: pointer;
}

#delete, #enter {
  width: 70px;
}

button:hover {
  background-color: rgb(173, 178, 180);
}
